.room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
  }

  .container{
    background-color:lightblue;
    display:grid;
    grid-template-columns:100px 100px 100px 100px ;
    grid-template-rows: 50px 50px 100px 100px;
  }

  #living-room{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #bathroom{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  #kitchen{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
  }

 #bedroom{
  
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }


 #closet{
  
    grid-column-start: 3;
    grid-column-end: 5;

  }

